/* Base Styles */

/* 
  COLORS 
  FFF2B9 - light cream for background, some text
  4F2A7A - dark purple for text
  42688D - medium slate blue for accent panels, some text
*/

@import url('https://fonts.cdnfonts.com/css/windsor-2');
@import url('https://fonts.cdnfonts.com/css/highgate-trial');

body {
  font-family: 'Highgate Trial', sans-serif;
  background-color: #FFF2B9;
  color: #4F2A7A;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  padding: 6rem 0;
}

.section-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #2c5282;
  text-align: center;
  margin-bottom: 3rem;
}

.section-content {
  max-width: 85vw;
  margin: 0 auto;
  text-align: center;
}

.section-content p {
  line-height: 1.75;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.hidden {
  display: none;
}

.justified-list {
  text-align: left;
  padding-left: 25px;
}

/* Header and Navigation */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #FFF2B9;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);


  font-family: 'Windsor', sans-serif;
  font-size: 1.5rem
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: 300;
  color: #4F2A7A;
  margin: 0 auto;
  margin-top: -7px;
  /* font-family: 'Freitag Trial', sans-serif; */
  /* font-family: 'Monday Coffee', sans-serif; */
  /* font-family: 'Kegina', sans-serif; */
  /* font-family: 'Khand', sans-serif; */
  /* font-family: 'SansXHigh', sans-serif; */
  /* font-family: 'Dragon', sans-serif; */
  font-family: 'Windsor', sans-serif;
  /* font-family: 'Alumni Sans', sans-serif; */
  /* font-family: 'Room Handmade', sans-serif; */
  /* font-family: 'PWFine', sans-serif; */
  /* font-family: 'Rampung', sans-serif; */
  /* font-family: 'NT VALENTINO', sans-serif; */
  /* font-family: 'Spidole', sans-serif; */
  /* font-family: 'Alonquin', sans-serif; */
  /* font-family: 'Bahiana', sans-serif; */


  letter-spacing: 1px;
  /* transition: font-size 0.5s; */
}

.logo-img {
  width: 75vw;
  max-width: 440px;
  margin: 15px 10px auto;
}

text {
  fill: #4F2A7A;
}

.nav-links {
  display: none;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #42688D;
}

.mobile-menu-button {
  display: block;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 100;
}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #4F2A7A;
}

.hamburger-button:focus {
  outline: none;
  color: #42688D;
}

.hamburger-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.mobile-menu {
  background-color: #42688D;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 0.5rem 0;
}

.mobile-menu a {
  display: block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.mobile-menu a:hover {
  background-color: #FFF8D9;
}

.mobile-menu a:focus {
  background-color: #FFF8D9;
}

.main-content {
  margin-top: 6rem; /* Space for the fixed header */
}


/* ***************************************************************** */
/* ************** PARALLAX VIEW - works on iPhone/iPad ************* */
/* ***************************************************************** */
/* div.parallax-image* {
  -webkit-background-size: 300%;
  -moz-background-size: 300%;
  background-size: 300%;
  top: 0;
} */

.parallax-image1 {
  background-image: url('images/light-bridge.webp');
  /* -webkit-background-size: auto;
  -moz-background-size: auto; */
  background-size: 100vw;
  background-repeat: repeat;
  top: 0;
}

/* .parallax-image2 {
  background-image: url('images/dark-bridge.webp');
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-repeat: repeat;
  top: 0;
}

.parallax-image3 {
  background-image: url('images/sunrise-bridge.webp');
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-repeat: repeat;
  top: 0;
} */

/* div.parallax-image4 {
  background-image: url(https://cdn.pixabay.com/photo/2023/05/28/09/21/south-tyrol-8023213_1280.jpg);
} */

.sticky {
  margin-top: -100vh;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(45deg, red, blue); */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 0;
}

div.section-header {
  position: relative;
  width:100%;
  height:70vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 2
}

div.header-text {
  height: auto;
  padding: 0px 20px;
  padding-left: calc(20vw - 70px);
  margin-bottom: 40px;
  color: white;
  background: rgba(16, 32, 48, 0.5)
}

div.section {
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 100vh;
  padding: 3em calc(20vw - 70px);
  z-index: 1
}

/* div.section:last-child {
  min-height: 50vh;
  padding: 3em calc(20vw - 70px) 6em;
} */

div.section.dark {
  background-color: #102030;
  color:white;
}

.page-title > div > h1 {
  font-size: 80px;
}

/* ***************************************************************** */
/* ***** CURRENT PARALLAX CSS - does not work on iphone/iPad ******* */
/* ***** work around to stop parallax ******* */
/* ***************************************************************** */
/* Hero Section */
.hero-section {
  color: #FFF8D9;

  /* flex controls */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* positioning */
  padding: 0;
  min-height: 80vh; /* Set a minimum height for the section */
  position: relative;
  background-image: url('images/light-bridge.webp');
  background-size: cover;
  background-position: center;

  /* for the parallax */
  /* background-attachment: fixed; */
  background-attachment: scroll;
  background-repeat: no-repeat;
}

/* Overlay for text readability */
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity for desired effect */
}

.hero-container {
  position: relative; /* Position the content above the overlay */
  z-index: 10;
  max-width: 60rem;
  letter-spacing: 1px;
}

.hero-title {
  font-size: 2.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.25;
  letter-spacing: 1px;
}

.hero-subtitle {
  font-size: 1.45rem;
  margin-bottom: 1.5rem;
}

.hero-button {
  display: inline-block;
  background-color: #4F2A7A;
  color: #ffffff;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
}

.hero-button:hover {
  background-color: #9850e9;
  transform: scale(1.05);
}

/* *************** ABOUT SECTION ********************************** */
/* ********************* ABOUT SECTION **************************** */
/* ******************************* ABOUT SECTION ****************** */
.about-section {
  background-color: #FFF2B9;
}

.about-flex-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content:space-around;
  align-items: center;
  width: 100%;
}

.normal-direction {
  flex-direction: column;
}

.about-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-larger {
  font-size: 1.25rem;
  font-variant-caps: small-caps;
  letter-spacing: 0.05rem;
  line-height: 1.25 !important;
}

.about-figure {
  display: flex;
  flex-direction: column;
}

.about-figure-caption {
  background-color: #42688D;
  color: #FFF2B9;
  font-style: italic;
  text-align: center;
}

.about-figure-caption p {
  line-height: 1rem;
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.big-name {
  font-size: 1rem;
  font-variant-caps: small-caps;
  letter-spacing: 0.075rem;
  font-weight: 500;
}

.about-image {
  width: 100%;
  max-width: 458px;
}

/* ************ 2nd Background Image ************************************* */
/* ******************************** 2nd Background Image ***************** */
/* ********************* 2nd Background Image **************************** */
.background-img-two-section {
  color: #ffffff;

  /* flex controls */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* positioning */
  padding: 0;
  min-height: 80vh; /* Set a minimum height for the section */
  position: relative;
  background-image: url('images/sunrise-bridge.webp');
  background-size: cover;
  background-position: center;

  /* for the parallax */
  /* background-attachment: fixed; */
  background-attachment: scroll;
  background-repeat: no-repeat;
}

/* Overlay for text readability */
.background-img-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity for desired effect */
}

/* ************ 3rd Background Image ************************************* */
/* ******************************** 3rd Background Image ***************** */
/* ********************* 3rd Background Image **************************** */
.background-img-three-section {
  color: #ffffff;

  /* flex controls */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* positioning */
  padding: 0;
  min-height: 80vh; /* Set a minimum height for the section */
  position: relative;
  background-image: url('images/another-bridge.webp');
  background-size: cover;
  background-position: center;

  /* for the parallax */
  /* background-attachment: fixed; */
  background-attachment: scroll;
  background-repeat: no-repeat;
}

/* Overlay for text readability */
.background-img-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity for desired effect */
}

/* ************* Fees/Services Section ********************************** */
/* ********************* Fees/Services Section ************************** */
/* ******************************* Fees/Services Section **************** */
.fees-section {
  background-color: #42688D;
}

.fees-title {
  color: #FFF2B9;
}

.fees-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 60rem;
  margin: 0 auto;
}

.service-card {
  background-color: #FFF2B9;
  padding: 2rem;
  border-radius: 0.45rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
  text-align: center;
  flex: 1 1 100%;
}

.service-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.service-description {
  color: #42688D;
  margin-bottom: 1rem;
}

.service-price {
  font-size: 1.875rem;
  font-weight: 700;
  color: #3182ce;
}

/* Overlay for text readability */
.background-img-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity for desired effect */
}

/* ******************* Policies Section ************************************* */
/* ****************************** Policies Section ************************** */
/* *************************************** Policies Section ***************** */
.no-bullet-list {
  list-style: none;
}

/* ******************** Connect Section ************************************ */
/* ****************************** Connect Section ************************** */
/* ************************************* Connect Section ******************* */
.connect-section {
  background-color: #FFF2B9;
}

.connect-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
  gap: 2rem;
  /* outline: 2px solid red; */
}

.connect-info {
  text-align: center;
  max-width: 80%;
}

.connect-lead-text {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.connect-info p {
  color: #42688D;
  margin-bottom: 0.5rem;
}

/* .connect-info a {
  color: #3182ce;
  text-decoration: underline;
} */
  
.connect-form-link {
  color: white;
}

.location-info {
  text-align: center;
  max-width: 50%;
}

.location-info p {
  color: #42688D;
  margin-bottom: 0.5rem;
}

/* .connect-form-container {
  background-color: #f0f4f8;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 100%;
} */

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.375rem;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #3182ce;
  box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.5);
}

.contact-form button {
  width: 100%;
  background-color: #3182ce;
  color: #ffffff;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #2c5282;
}

.bump {
  padding-left: 1.35rem;
}

.bus-line-padding {
  padding-right: 1rem;
}

/******* ************************** Footer ********************* *******/
/******* ************* Footer ********************************** *******/
/******* *************************************** Footer ******** *******/
.footer {
  background-color: #2d3748;
  color: #ffffff;
  padding: 1.5rem 0;
  text-align: center;
}

.footer-content p {
  margin: 0;
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.badges {
  width: 30vw;
  max-width: 200px;
  height: auto;

}



/* --- ------- Media Queries for Responsiveness ----------------------- --- */
/* --- ------------ Media Queries for Responsiveness ------------------ --- */
/* --- ------------------------- Media Queries for Responsiveness ----- --- */
/*  */
@media (min-width: 768px) {
  /* md breakpoint */
  .nav-links {
    display: flex;
  }

  .logo {
    font-size: 1.75rem;
    font-weight: 300;
    color: #4F2A7A;;
    margin: unset;
    margin-top: -7px;
    /* margin-bottom: 10px; */
    transition: font-size 1s;
  }

  .logo-img {
    width: 40vw;
    margin: 15px 10px auto;
  }

  .mobile-menu-button {
    display: none;
  }

  .hero-section {
    background-attachment: fixed;
  }
  
  .hero-container {
    padding: 0 1.5rem;
  }
  
  .hero-title {
    font-size: 3rem;
  }
  
  .background-img-two-section {
    background-attachment: fixed;
  }

  .background-img-three-section {
    background-attachment: fixed;
  }

  .fees-flex-container {
    flex-direction: row;
  }

  .about-image {
    width: 100%;
    max-width: 458px;
  }

  .service-card {
    flex: 1 1 calc(50% - 1rem); /* Two items per row with a gap */
    max-width: 35vw;
  }

  /* old code using grid for fees */
  /* .fees-grid {
    grid-template-columns: repeat(2, 1fr);
  } */

  .contact-flex-container {
    flex-direction: row;
    gap: 3rem;
  }

  .contact-info {
    text-align: left;
  }

  .contact-form-container {
    width: 50%;
  }

  .connect-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .logo-img {
    width: 75vw;
    max-width: 410px;
    margin: 15px 10px auto;
  }

.about-flex-container {
  flex-direction: row;
  /* justify-content:space-around; */
  width: 100%;
}

.about-text {
  width: 50%;
  /* justify-content: center; */
}

/* .about-image {
  width: 50%;
} */

  .service-card {
    flex: 1 1 calc(33.333% - 1.333rem); /* Three items per row with a gap */
  }
  /* old code using grid for fees */
  /* .fees-grid {
    grid-template-columns: repeat(3, 1fr);
  } */
}

